* {
  font-family: "Roboto", sans-serif !important;
}

.card-page {
  width: 100%;
  height: 55rem;
}

.amenu {
  background: #7474bf;
  background: -webkit-linear-gradient(to left, #348ac7, #7474bf);
  background: linear-gradient(to left, #348ac7, #7474bf);

  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 250px;
}

.main-page {
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.thermo-size {
  font-size: 45px;
}

.amenu-size {
  font-size: 25px;
}

p {
  font-size: 15px;
}

.test {
  display: flex;
  margin-top: 4%;
  width: 100%;
  cursor: pointer;
}

.test:hover {
  border-left: 2px solid rgb(255, 255, 139);
  background: rgba(255, 255, 230, 0.048);
}

.meteoText {
  font-weight: 800;
}

.favorite {
  background: white;
  width: 180px;
  height: 340px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60%;
  border-radius: 30px;
  color: black;
}

.amenu-sizes {
  font-size: 35px;
}

.hit {
  font-size: 10px;
}

.pt {
  height: 5px !important;
}

.ph {
  margin-left: 4.99em;
}
